@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
$orange: #a0b428;
$main-font: "Open Sans", sans-serif;
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.screen {
  max-width: 1440px;
  width: calc(100% - 150px);
  margin-left: auto;
  margin-right: auto;
}

.app-wrapper {
  background: #fffcf0;
  font-family: "Open Sans", sans-serif;
}

.text-p {
  font-size: 18px;
  line-height: 21.09px;
}

.btn {
  width: 250px;
  height: 60px;
  color: white;
  font-size: 18px;
  background: #a0b428;
  .text-p {
    margin: 0px !important;
    color: white !important;
    font-size: 18px !important;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $orange;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.border-top {
  border-top: 1px solid #565656;
  width: fit-content;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  line-height: 100%;
  strong {
    color: #7e8d1f;
  }
}
.splide__slide {
  img {
    object-position: center;
    height: 100%;
  }
}
@media only screen and (max-width: $mobile) {
  .screen {
    width: 100%;
  }
}
