.header {
  .big-slider {
    height: 770px;
    &-body {
      padding-top: 194px;
      h1 {
        font-size: 64px;
        line-height: 93.19%;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .header {
    .big-slider-wrapper {
      height: 640px;
      .big-slider {
        height: 100%;
        &-body {
          h1 {
            font-size: 36px;
          }
        }
        .splide__list {
          height: calc(100% - 75px);
        }
      }
    }
  }
}
