.big-slider-wrapper {
  .splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    border: none;
  }
  .big-slider-body {
    padding-top: 80px;
  }
  &-left {
    .big-slider-body {
      left: 100px;
      .btn {
        img {
          margin-right: auto;
        }
      }
    }
    .splide__arrows {
      right: 100px;
    }
    .boxes {
      right: 262px;
      .box {
        &:last-of-type {
          border-right: 1px solid transparent !important;
        }
      }
    }
  }
  &-right {
    .big-slider-body {
      right: 100px;
      .read-more-hidden {
        margin-left: auto;
      }
      .btn {
        img {
          margin-left: auto;
        }
      }
    }
    .splide__arrows {
      left: 100px;
      &-extra {
        img {
          margin-right: auto;
        }
      }
    }
    .boxes {
      left: 262px;
      .box {
        &:last-of-type {
          border-right: 1px solid transparent !important;
        }
      }
    }
  }
  position: relative;
  height: auto;
  .big-slider-secondary {
    margin-top: 15px;
    height: 200px;
    .splide__track,
    .splide__list,
    .splide__slide {
      height: 100%;
    }
    .splide__slide {
      border: none;
      cursor: pointer;
    }
  }
  .arrows {
    position: absolute;
    top: 550px;
    bottom: auto;
  }
  .big-slider {
    overflow: hidden;
    position: relative;
    height: 650px;

    &-overlay {
      position: absolute;
      left: 0px;
      top: 0px;
      pointer-events: none;
      background: linear-gradient(
          307.49deg,
          rgba(0, 0, 0, 0.5) 5.11%,
          rgba(0, 0, 0, 0.25) 55.79%
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

      z-index: 10;
      width: 100%;
      height: 100%;
    }
    .boxes {
      position: absolute;
      display: flex;
      height: 100px;
      bottom: 0px;
      z-index: 19;
      justify-content: space-between;
      .box {
        padding-left: 15px;
        padding-right: 15px;
        min-width: 250px;
        background: rgba(255, 255, 255, 0.3);
        border-right: 1px solid white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &-title {
          font-size: 30px;
          font-weight: 600;
          margin-right: 15px;
          color: white;
        }

        &-body {
          .text-p {
            color: white;
          }
        }
      }
    }
    .splide__track {
      height: 100%;
    }
    .splide__slide {
      height: 100% !important;
    }
    .splide__list {
      height: 100%;
    }
    .splide__arrows {
      bottom: 0px;

      z-index: 999;
      display: flex;
      align-items: center;
      position: absolute;
      height: 100px;
      width: 162px;
      background: rgba(255, 255, 255, 0.8);
      z-index: 999;
      display: flex;
      justify-content: space-between;
      .splide__arrow {
        transform: none;
        position: static;
        width: 50%;
        height: 100%;
        background: transparent;
        border-radius: 0px;
      }
    }
    &-body {
      z-index: 999;
      position: absolute;
      &-extra {
        display: none;
      }
      .btn {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .text-p {
        max-width: 620px;
        color: white;
        margin-top: 15px;
      }
      h1 {
        padding-top: 5px;
        width: fit-content;
        text-transform: uppercase;
        border-top: 1px solid white;
        color: white;
        font-size: 48px;
        font-weight: bold;
        &:first-of-type {
          strong {
            color: #a0b428;
          }
        }
      }
      h2 {
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .big-slider {
    &-wrapper {
      .arrows {
        top: auto;
        bottom: 135px !important;
        background: transparent !important;
        min-width: 100%;
        left: 0px;
        max-height: 0px;
        right: auto;
      }
      .splide__arrow {
        position: absolute !important;
        width: 37px !important;
        height: 69px !important;
        background: rgba(255, 255, 255, 0.8) !important;
        &--prev {
          left: 0px;
        }
        &--next {
          right: 0px;
        }
      }
      &-left {
        .big-slider-body {
          left: 0;
        }
      }
      &-right {
        .big-slider-body {
          left: 0;
          right: auto;
        }
      }
      .big-slider {
        height: 600px;
        .splide__arrows {
          display: none;
        }
        .boxes {
          height: 75px;
          left: 0px;
          right: 0px;
          .box {
            align-items: flex-start;
            min-width: auto;
            &-title {
              font-size: 18px;
              padding-top: 21px;
            }
            &-body {
              padding-top: 25px;
              .text-p {
                line-height: 93.19%;
                font-size: 14px;
              }
            }
            width: 50%;
            &:nth-child(3) {
              display: none;
            }
          }
        }
      }
      .big-slider-body {
        padding-left: 15px;
        padding-right: 15px;
        h1 {
          padding-top: 12px;
          font-size: 24px;
          line-height: 93.19%;
          margin-bottom: 17px;
        }
        h2 {
          font-size: 24px;
          line-height: 110%;
        }
        .text-p {
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }
}
